ES2/obj/Debug/net10.0/compressed/9n5gn2q68p-{0}-o5y2iuq8fb-o5y2iuq8fb.gz
ES2/obj/Debug/net10.0/compressed/9n5gn2q68p-{0}-qjrh8rfz9o-qjrh8rfz9o.gz
ES2/obj/Debug/net10.0/compressed/rouggsg2fw-{0}-mxhmj23qfu-mxhmj23qfu.gz
ES2/obj/Debug/net10.0/compressed/yv9qbu4bty-{0}-mxhmj23qfu-mxhmj23qfu.gz
