@{
    Layout = null;
}

<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Horizon</title>
    <script>
        window.__EH_INITIAL_PAGE__ = "events";
    </script>
    <script type="module" crossorigin src="/event-horizon/assets/event-horizon.js"></script>
    <link rel="stylesheet" crossorigin href="/event-horizon/assets/event-horizon.css" />
</head>
<body>
<div id="root"></div>
</body>
</html>

